_staticPath=''
static(x){
    return url(_staticPath+x)
}
body 
    background-image: static('/img/backgrouind.png')
a.currency
    text-decoration: none
.currency.selected 
    font-weight: bold
    font-size: 150%